html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#894517;
    color:#c77521;
    justify-content:center;
}

a {
    text-decoration: none;
}

.main {
    height: 100%;
    display :flex;
    justify-content: center;
}

#mainImg{
    height: 100%;
}

.aboutMain{
    display: flex;
    height: 100%;
}

.aboutLeft{
    width :50%;
    padding-left: 180px;
}

.aboutRight{
    width: 50%;
}

#aboutInfo{
    font-size: 25pt;
}

#profileImg{
    transform: rotate(90deg);
    width: 400px;
    height: 400px;
    object-fit: scale-down;
}

.gallery{
    display: flex;
    height: 120%;
}

.galleryLeft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.galleryRight{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.thumbnail-image{
    width: 340px;
    height: 340px;
    object-fit: scale-down;
}

.header{
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.navbar{
    font-size:25px;
    display: flex;
    justify-content: space-around;
    padding-bottom:25px;
}

.social-image{
    width: 30px;
    margin: 15px;
}

.social{
    display: flex;
    justify-content: space-around;
}

.copyright{
    display: flex;
    justify-content: center;
}
