html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#894517;
    color:#c77521;
    justify-content:center;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}

.aboutMain{
    display: flex;
    height: 100%;
}

.aboutLeft{
    width :50%;
}

.aboutRight{
    width: 50%;
}

.gallery{
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.galleryLeft{
    width: 50%;
}

.galleryRight{
    width: 50%;
}

.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.navbar{
    font-size:25px;
    display: flex;
    justify-content: space-around;
}

.thumbnail-image{
    border: 5px solid #9a541a;
}

.social{
    display: flex;
    justify-content: space-around;
}

.copyright{
    display: flex;
    justify-content: center;
}
